*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
  max-width: 1360px;
  margin: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
}
nav ul li a:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}
.btn {
  padding: 15px 20px;
  background-color: #469165;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #3a7d57;
}
.hero{
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
}
.hero h3 {
  font-size: 20px;
  color: #469165;
  margin-bottom: 20px;
  background-color: #ffffffff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
}
.hero h2 {
  font-size: 72px;
  line-height: 84px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 700;
  color: #30B868;
}
.hero p {
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  max-width: 700px;
  margin: 0 auto 30px auto;
}
.btn-2 {
  padding: 15px 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.notes-upper {
  text-align: center;
  margin: 80px 0 40px 0;
}
.notes-upper h2{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin: 80px 0 5px 0;
}
.notes-upper p{
  color: #627382;
}
.notes-container {
  display: flex;
  justify-content: center;
  max-width: 1360px;
  margin: auto;
  gap: 15px;
  margin-top: 40px;
  margin-bottom:60px ;
}
.box-img img{
  padding: 10px;
  background-color: #F95555;
  border-radius: 50%;
}
.notes-box {
  padding:50px 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px #00000010;
}
.box-text h3{
  color: #001931;
  font-size: 24px;
  margin: 15px 0;
}
.box-text p{
  color: #627382;
  font-size: 16px;
  margin: 15px 0;
}
