*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
  max-width: 1360px;
  margin: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
}
nav ul li a:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}
.btn {
  padding: 15px 20px;
  background-color: #469165;
  color: white;
  font-weight: 600;
  border: 1px solid #469165;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color:#469165;
  transition: .5s;
}
.hero{
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
}
.hero h3 {
  font-size: 20px;
  color: #469165;
  margin-bottom: 20px;
  background-color: #ffffffff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
}
.hero h2 {
  font-size: 72px;
  line-height: 84px;
  font-weight: bold;
  color: #000000;
  font-weight: 700;
  color: #30B868;
}
.hero p {
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  max-width: 700px;
  margin: 0 auto 30px auto;
}
.btn-2 {
  padding: 15px 20px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.btn-2:hover {
  background-color: #ffffff;
  color: #000000;
  transition: .5s;
}
.notes {
  max-width: 100%;
  margin: auto;
  padding: 0 120px 0 120px;
}
.notes-upper {
  text-align: center;
  margin-bottom: 44px;
}
.notes-upper h2{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin: 80px 0 5px 0;
}
.notes-upper p{
  color: #627382;
}
.notes-container {
  display: flex;
  justify-content: center;
  max-width: 1360px;
  margin: auto;
  gap: 15px;
}
.box-img img{
  padding: 10px;
  background-color: #F95555;
  border-radius: 50%;
}
.notes-box {
  padding:50px 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px #00000010;
}
.box-text h3{
  color: #001931;
  font-size: 24px;
  margin: 15px 0;
}
.box-text p{
  color: #627382;
  font-size: 16px;
  margin: 15px 0;
}
.brain {
  max-width: 1360px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-bottom: 80px;
}
.brain-text h6 {
  color: #30b868;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}
.brain-text h3 {
  color: #001931;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 15px;
  margin-bottom: 16px;
}
.brain-text p {
  color: #627382;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 40px;
}
.brain ul{
  list-style: none;
}
.brain ul li{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
} 

.read-mores {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  max-width: 1360px;
  text-align: center;
  margin: auto;
  background-color: #f7f6f2;
  padding: 80px 40px;
  gap: 24px;
}
.read-more-text ,
.read-more-btn{
  max-width: 700px;
  margin: auto;
}
.read-more-text h3{
  font-size: 40px;
  color: #001931;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}
.read-more-text h5{
  font-size: 18px;
  font-weight: normal;
  color: #627382;
  line-height: 24px;
}
.btn-f{
  box-shadow: 0 10px 20px  #00000020;
  margin-bottom: 16px;
}
.read-more-btn p{
  font-size: 16px;
  color: #627382;
}
footer {
  background-color: #001931;
  color: white;
  margin-top: 120px;
  padding: 100px 20px 30px 20px;
}
.upper-footer{
  max-width: 1360px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.upper-footer ul{
  list-style: none;
  display: flex;
  gap: 24px;
}
.upper-footer ul li a{
  text-decoration: none;
  color: white;
}
.upper-footer p {
  font-size: 20px;
  font-weight: medium;
  padding: 10px 0px;
}
footer hr{
  border: 0.5px solid #ffffff30;
  margin: 0 200px;
}
.down-footer p{
  text-align: center;
  color: #fafafa;
  margin-top: 30px;
}