*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
  max-width: 1360px;
  margin: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 15px;
}
nav ul li a:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}
.btn {
  padding: 15px 20px;
  background-color: #469165;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #3a7d57;
}